<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= @s3_prefix %>/vendor/bootstrap3/glyphicon/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="apple-touch-icon-precomposedposed" sizes="144x144" href="<%= @s3_prefix %>/images/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= @s3_prefix %>/images/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= @s3_prefix %>/images/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="<%= @s3_prefix %>/images/icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="<%= @s3_prefix %>/images/icons/favicon.ico">
    <link href="/scss/application.scss" rel="stylesheet" />
  </head>
  <body>
    
    <%= yield %>
    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <script src="<%= @s3_prefix %>/vendor/retina.js"></script>
    <% if settings.production? and settings.google_analytics_id %>
    <script type="text/javascript">
      var _gaq=[['_setAccount','<%= settings.google_analytics_id %>'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    <% end %>
  </body>
</html>